* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    background-color: #2c2c2c;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
}

.navbar>div{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.logo{
    color: rgba(24, 179, 240, 0.956)
}

.logo span{
    color: white
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container img{
    width: 30px;
    cursor: pointer;
}

.nav-icon-container img:first-child{
    margin-right: 1rem;
}

nav ul li{
    color: rgba(255, 255, 255, 0.553);
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover{
    transform: translate(-5px);
    transition: all 0.6s;
    color: white
}

.menu-button{
    display: none;
}

header{
    background-image: radial-gradient(#fff, #c7c7c7);
}

.header-bottom-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.header-bottom-side-left{
    height: 100%;
    flex-basis: 50%;
}

.header-bottom-side-left h2{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.header-bottom-side-left p{
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.header-bottom-side-right{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom-side-right img{
    width: 80%;
    margin: 0 auto;
}

.header-bottom-side-left button{
    background-color: rgba(24, 179, 240, 0.956);
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}

.header-bottom-side-left button:hover{
    background-color: rgb(0, 124, 176);
    transform: translate(-5px);
}





/* Card */
:root{
    --cor-fundo: #d5d5c9;
    --cor-texto: #1d1d1d;
    --cor-fundo-card: #dededd;
    font-size: 14px;
}

body{
    font-family: 'Loro', sans-serif;
    color: var(--cor-texto)

}

main {
    padding: 20px;
}

h2, h3, strong{
    font-weight: bold;
    text-align: center;
}

main h2{
    font-size: 2rem;
    text-align: center;
    color: rgb(255, 166, 0);
}

main .preco-antigo{
    font-size: 1em;
    text-align: left;
    font-weight: normal;
    text-decoration: line-through;
    color: rgb(255, 34, 0);
}

main .preco-promoção{
    font-size: 1em;
    text-align: left;
    font-weight: normal;
    color: rgb(15, 164, 1);
}

.produto-lista{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    
}

.produto-lista .produto:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.produto-lista .produto{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 200px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.produto-lista .produto img{
    width: 160px;
    border-radius: 5px;
}



























/* 

@media (max-width: 800px){
    .logo{
        font-size: 1.2rem;
    }

    .header-bottom-side{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav{
        position: absolute;
        background-color: #2c2c2c;
        width: 100%;
        top: 48px;
        display: none;
    }

    nav ul li{
        text-align: center;
        padding: 0.8rem;
    }
} */